@import "tailwindcss";

:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext-1: #bac2de;
  --subtext-0: #a6adc8;
  --overlay-2: #9399b2;
  --overlay-1: #7f849c;
  --overlay-0: #6c7086;
  --surface-2: #585b70;
  --surface-1: #45475a;
  --surface-0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

@theme inline {
  /* Custom Fonts */
  --font-display: var(--font-merriweather);
  --font-body: var(--font-open-sans);

  /* Accent Colors */
  --color-rosewater: var(--rosewater);
  --color-flamingo: var(--flamingo);
  --color-pink: var(--pink);
  --color-mauve: var(--mauve);
  --color-red: var(--red);
  --color-maroon: var(--maroon);
  --color-peach: var(--peach);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-teal: var(--teal);
  --color-sky: var(--sky);
  --color-sapphire: var(--sapphire);
  --color-blue: var(--blue);
  --color-lavender: var(--lavender);

  /* Text Colors */
  --color-text: var(--text);
  --color-subtext-1: var(--subtext-1);
  --color-subtext-0: var(--subtext-0);

  /* Overlay Colors */
  --color-overlay-2: var(--overlay-2);
  --color-overlay-1: var(--overlay-1);
  --color-overlay-0: var(--overlay-0);

  /* Surface Colors */
  --color-surface-2: var(--surface-2);
  --color-surface-1: var(--surface-1);
  --color-surface-0: var(--surface-0);

  /* Base Colors */
  --color-base: var(--base);
  --color-mantle: var(--mantle);
  --color-crust: var(--crust);
}
